@page "/questions"

<PageTitle>Questions</PageTitle>

<h1>Questions</h1>

<a href="/2">Two</a>
<a href="/questions/3">Three</a>
<a href="/questions/4">Four</a>
<a href="/questions/5">Five</a>
<a href="/counter">Six</a>
<a href="/questions/7">Seven</a>
<a href="/questions/8">Eight</a>
<a href="/questions/9">Nine</a>
<a href="/questions/10">Ten</a>